<form action="/" method="post">
	<label for="word">Wort: </label>
	<input type="text" name="word">
	<label for="part_of_speech">Wortart: </label>
	<input type="text" name="part_of_speech">
	<input type="submit" value="speichern">
</form>

<% @lemmas.each do |lemma| %>
	<li><%= lemma.word %> <i>(<%= lemma.part_of_speech %>)</i></li>
<% end %>

